*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    border-bottom: 2px solid rgb(81, 0, 209);
    width: fit-content;
    margin: auto;
}

.contact-info{
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 0px 10px gray;
    max-width: 1200px;
    margin: 25px auto;
    padding: 20px;
}
.contact-title{
    border-bottom: 2px solid rgb(81, 0, 209);
    width: fit-content;
}