*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: #f5f1f1;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.header{
    background-color: linear-gradient(to left, #0133b7, #FFFFFF);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
}

.logo{
    align-self: center;
    width: 100%;
}