*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: #f5f1f1;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container {
    text-align: center;
}
.logo {
    max-width: 270px;
    display: block;
    margin: 0 auto;
}

#logo{
    position: absolute;
    display: block;
    z-index: -1;
    /* display: flex; */
}
#bkgrd-text{
    color:lightgrey;
    font-size:100px;
    transform:rotate(300deg);
    -webkit-transform:rotate(400deg);
}

footer {
    background-color: #9fcbd6;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
    position: absolute;
    margin-top: 500px;
}

.social-media {
    padding: 0px 20px;
}

.social-logo{
    margin: 5px;
    height: 40px;
    cursor: pointer;
}

.social-logo :last-child {
    margin-right: 0;
}

.copyright {
    text-align: right;
    font-size: small;
    font-size: medium;
}
