*{
    box-sizing: border-box;
}
html{
    color: #f5f1f1;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.header{
    background-image: linear-gradient(rgba(246, 246, 246, 0.2), rgba(252, 249, 249, 0.2)), url(IMG/pexels-photo-101533.jpeg);
    background-size: cover;
    height: 110vh;
    background-attachment: absolute;
}
.logo{
    text-align: center;
}
.MPT{
    color: white;
    text-align: center; 
}