*{
    box-sizing: border-box;
}
html{
    color: #f5f1f1;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(IMG/pexels-photo-2732666.jpeg);
    background-size: cover;
    height: 110vh;
    background-attachment: absolute;
}
.logo{
    text-align: center;
}
.MPT{
    color: white;
    text-align: center; 
}